<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Coding Challenge for Red Badger">
  <meta name="author" content="Juliane Franze">

  <base href="/">

  <title>Martian Robots</title>

  <!--bootstrap and our app css file-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="app.css">

  <!--angular and ui-router-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>

 
</head>

<body ng-app="app">
  <nav class="container">
      <div class="page-header"> <h1>MartianRobot</h1> </div>
  </nav>

  <div ui-view>
      <main  class="container" ng-controller="RobotController">
                
            <div class="well well-lg">Output: 
                    <span ng-show="!isRobotVanished"> {{output}}</span>
                    <span ng-show="isRobotVanished"> {{lostOutput}} Lost </span>
                </div>
    

      </main>
 


  </div>

   <script src="app.js"></script>
   <script src="robot/robot-controller.js"></script>
   <script src="robot/robot-factory.js"></script>
</body>
</html>